:root{
    --primary-color : #0971ff;
    --side-margin : 32px;
}

*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

main{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 18px var(--side-margin);
}

/* Header */
header{
    background-color: var(--primary-color);
    padding: 16px var(--side-margin);
    display: flex;
}

header img{
    height: 32px;
}

/* Article */
.article{
    width: 100%;
    height: 356px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article h1{
    font-size: 126px;    
}

#article-1{
    background-color: greenyellow;
}

#article-2{
    background-color: aqua;
}

#article-3{
    background-color: violet;
}

#article-4{
    background-color: lightcoral;
}

/* Groups */
.first-articles{
    display: flex;
    gap: 12px;
}

.second-articles{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.group-1{
    flex-direction: column;
    display: flex;
    gap:12px;
}

#product-container{
    position: relative;
}

#product-scroll{
    display: flex;
    gap : 12px;
    overflow-x: hidden;
    position: relative;
}


/* Product Card */
.product-card{
    border: solid gray 1px;
    border-radius: 24px;
    padding: 12px;
    flex-basis: 182px;
	flex-grow: 0;
	flex-shrink: 0;
}

.product-card img{
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.product-card h2{
    font-weight: 500;
    font-size: 18px;
    display: -webkit-box;
    line-clamp: 2;
    line-height: 130%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.product-card h3{
    color: orange;
    line-height: 180%;
}

.product-card p{
    font-size: 16px;
    color: gray;
}

.product-card span{
    color: red;
    background-color: lightpink;
    padding: 4px 8px;
    border-radius: 32px;
}

.product-card button{
    background-color: var(--primary-color);
    border-radius: 12px;
    color: white;
    border: none;
    width: 100%;
    padding: 16px 0px;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
}

/* Buttons */
.scroll-btn{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 32px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: white;
    top: 40%;
    cursor: pointer;
    z-index: 10;
}

#prev-btn{
    display: none;
}

#next-btn{
    right: 0px;    
}

#scroll-top-btn{
    position: fixed;
    top: auto;
    right: 12px;
    bottom: 12px;
    font-size: 24px;
    font-weight: bolder;
}

/* Footer */
footer{
    padding: 18px var(--side-margin);
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-desc{
    text-align: justify;
    display: none;
}

footer button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    margin-top: 18px;
    margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
    :root{
        --side-margin : 8px;
    }

    main{
        flex-direction: column-reverse;
    }

    /* Header */
    header{
        justify-content: center;
    }

    /* Groups */
    .second-articles{
        flex-direction: column-reverse;
    }

    #product-scroll{
        overflow-x: scroll;
    }

    

    /* Product Card */
    .product-card{
        flex-basis: 132px;
    }

    .product-card h2{
        font-size: 14px;
    }

    .product-card h3{
        font-size: 14px;
    }

    .product-card p{
        font-size: 12px;
    }

    /* Buttons */
    .scroll-btn{
        display: none;
    }
}